<div class="jumbotron">
  <h1>Choose your Language</h1>
  <p>What is your favorite language to code in?</p>
</div>
<div class="container">
    <%= render partial: 'language', collection: @languages %>
</div>
